spring:
  datasource:
    url: jdbc:mysql://localhost:3306/campstation?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    com.campstation: INFO
    org.springframework.web: INFO
